.panel-heading {
	margin: -1px;
}

.emp-data {
    padding-left: 50px;
}

.emp-name {
    font-weight: bold;
}

.panel {
    display: inline-block;
    width: 35%;
    position: relative;
}

.add_emp {
    margin: auto;
}

.row {
    margin-left: 8%;
}
