#myCarousel {
	margin-top: -20px;
	margin-bottom: 1%;
}

.page-head .container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.carousel-content {
	height: 350px;
	background-color: #1ac6ff;
}

.topic {
	height: 265px;
	width: 250px;
}

.row .caption {
	text-align: center;
}

.team {
	width=100px;
	height=50px;
	background-color: #1ac6ff;
}

.imgBorder {

  margin-top: 7%;
  margin-bottom: 7%;
  padding: 15px 15px 0;
}

.thumbnail{
	width: 350px;
	height: 370px;
}

#team_name {
	margin-right: 50%;
	top: 50%;
	position: absolute;

}

#icon {
	 margin-left: 50%;
	 position: absolute;
}

#teams {
	margin-top: 30%;

}

#team_caption {
	margin-top: 52.5%;
}


#head{
	margin-top: 2%;
}

#btnn {
	margin-top: 6%;
}

#playa {
text-align: center
}

#rand_match{
	margin-top: 20%;

}

#rand_button {
	margin-top:22.5%; 
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #ffffff, #178ACC, #ffffff);
}