#myCarousel {
	margin-top: -20px;
	margin-bottom: 1%;
}

.page-head .container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.carousel-content {
	height: 350px;
	background-color: #1ac6ff;
}

.topic {
	height: 265px;
	width: 250px;
}

.row .caption {
	text-align: center;
}

.team {
	width=100px;
	height=50px;
	background-color: #1ac6ff;
}

.imgBorder {

  margin-top: 7%;
  margin-bottom: 7%;
  padding: 15px 15px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

}

.thumbnail{
	width: 350px;
	height: 370px;
}

#team_name {
	margin-right: 50%;
}

#icon {
	 margin-left: 65%;
}

#teams {
	margin-top: 30%;

}

#team_caption {
	margin-top: 35%;
}

#head{
	margin-top: 2%;
}