#filter-bar {
	padding: 4px;
	margin-bottom: 20px;
	background-color: #ffffff;
	height: 45px;
}

#result-div {
	margin : 4%;
}

.person-foto {
	height: 100%;
	width: 100%;
}

#filter-bar>select {
	float: left
}

#range input {
	margin-left:1%;
	margin-right:0.5%;
}
