#filter-bar {
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	height: 45px;
}

.filter-select {
	float: right;
}

#result-div {
	margin : 4%;
}

.person-foto {
	height: 100%;
	width: 100%;
}
