ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #0998DB;
}

li {
    float: left;
}

li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

li a:hover {
    background-color: #48B8EB;
}

.active {
    background-color: #48B8EB
}

span {
    margin: 100px;
}
