hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #ffffff, #178ACC, #ffffff);
}

.panel-body {
	padding: 0px;
}

.panel-heading {
	margin:-1px;
}
.team-logo-heading{
	width: 2%;
	height: 2%;
}

.avatar-img {
	max-height:200px;
	max-width: 200px;
	height: auto;
	width: auto;
}

.person-text {
	float: left;
	display: inline;
}

.person-avatar {
	float: right;
	display: inline;
}

[id^=teamId] {
	margin: 15px;
	display: none;
	height: auto;
}

.team-header-link > * {
	display: inline;
}

.team-header-link > a {
	float: right;
}
