{% extends "bootstrap/base.html" %}

{% block title %}Ice Hockey World Championship{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrapCerulean.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
<link rel="icon" href="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fimg1.wikia.nocookie.net%2F__cb20121024132252%2Fclubpenguin%2Fimages%2F8%2F89%2FHockey_Stick_from_a_Player_Card.PNG&f=1">
{% endblock head %}

{% block navbar %}
    {% set standard_nav_bar = [
        ('/', 'Home'),
        ('/schedule/1', 'Schedule'),
        ('/teams', 'Teams'),
        ('/players', 'Players'),
        ('/standings', 'Standings')
    ] -%}
    {% set extended_nav_bar = [
        ('/', 'Home'),
        ('/schedule/1', 'Schedule'),
        ('/teams', 'Teams'),
        ('/players', 'Players'),
        ('/standings', 'Standings'),
        ('/settings', 'Settings')
    ] -%}

    {% set navigation_bar = extended_nav_bar if user else standard_nav_bar %}
    {% set current = request.path.split('/')[1] %}
    {% set active_page = 'home' if current == '' else current -%}
 
    <div class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
    		 <ul class="nav navbar-nav">
                {% for href, entry in navigation_bar %}
                <li {% if entry.lower() == active_page %}class="active" {% endif %}>
                    <a href="{{ href|e }}">{{ entry|e }}</a></li>
                 {% endfor %}
                 {% if user and user.role %}
                 <li><a href="/championship_management">Settings</a></li>
                 {% endif %}
    		 </ul>
    		 <ul class="nav navbar-nav navbar-right">
             {% if user %}
             <li><a href="/logout"><span class="logout"></span>{{ user.login }} | Logout</a></li>
             {% else %}
    			 <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
             {% endif %}
    		 </ul>
    	</div>
    </div>
{% endblock navbar %}

{% block content %}
	<div class = "page-head">
		{% block page_head_content %}{% endblock %}
	</div>
	<div class="container">
		{% block page_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src={{url_for('static',filename='js/scriptJS.min.js')}}></script>
{% endblock scripts %}
