{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock head %}

{% block page_head_content %}
<div class = "container-fluid">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class = "carousel-content">
					<div class="row">
						<h2 id="head" class="text-center">Next match</h2>
						<div class="col-sm-2"></div>
                        <div class="col-sm-2"> <img
                             src="https://mcyprian.fedorapeople.org/flags/{{games[0].home_team.code}}" class="img-circle center-block"></div>
                        <div class="col-sm-2" ><h3  class="text-center">{{games[0].home_team.name}}</h3></div>
                        <div class="col-sm-2"><h3  class="text-center">{{games[0].away_team.name}}</h3></div>
                        <div class="col-sm-2" ><img
                             src="https://mcyprian.fedorapeople.org/flags/{{games[0].away_team.code}}" class="img-circle center-block"></div>
		                <div class="col-sm-2"></div>
	       			 </div> 
					</div> 
				<div class="carousel-caption">
                    <h3>Day: {{games[0].day}}</h3>
                    <h3>Date: {{games[0].datetime.time()}}</h3>
				</div>      
			</div>

			<div class="item">
				<div class = "carousel-content">
					<div class="row">
							<h2 id="head" class="text-center">Next match</h2>
							<div class="col-sm-2"></div>
							<div class="col-sm-2"> <img
            src="https://mcyprian.fedorapeople.org/flags/{{games[1].home_team.code}}" class="img-circle center-block"></div>
                            <div class="col-sm-2" ><h3
                                 class="text-center">{{games[1].home_team.name}}</h3></div>
                            <div class="col-sm-2"><h3
                                 class="text-center">{{games[1].away_team.name}}</h3></div>
			                <div class="col-sm-2" ><img
                        src="https://mcyprian.fedorapeople.org/flags/{{games[1].away_team.code}}" class="img-circle center-block"></div>
			                <div class="col-sm-2"></div>
		       			 </div> 
						</div> 
				<div class="carousel-caption">
                    <h3>Day: {{games[1].day}}</h3>
                    <h3>Time: {{games[1].datetime.time()}}</h3>
				</div>      
			</div>
		</div>
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>
</div>
{% endblock page_head_content %}

{% block page_content %}
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="row">
					<div class="col-lg-4" id="teams">
                        <img id="icon" src="https://mcyprian.fedorapeople.org/flags/{{ team.code }}" class="img-circle center-block">
					</div>
					<div class="col-lg-8" id="teams">
                        <h2 id="team_name" class="text-left"><b>{{ team.name }}</b></h2>
					</div>
				</div>
					
						<div class="caption"  id="team_caption">
                    	<a href="/teams/{{ team.name }}" class="btn btn-primary" role="button">Know more</a>
						</div>
					
					</div>
		</div>

		<div class="col-md-4">
				<div class="thumbnail">
				<img src="https://mcyprian.fedorapeople.org/avatar.png" class="imgBorder" width="200" height="200" >
				<h3 id="playa">{{ player.name }} {{ player.surname }} ({{player.team.code}})</h3>
				<div class="caption">
					<a href="/players/{{ player.id }}" class="btn btn-primary" role="button" id="btnn">Know more</a>
				</div>
			</div>
		</div>
	

	<div class="col-md-4">
		<div class="thumbnail">		
			<div class="caption">
				<h1>Results of match</h1>
				<hr></hr>
				<h3 id="rand_match">{% if rand_match %}{{rand_match.home_team.name}} - {{rand_match.away_team.name}}{% else %} Missing data {% endif %}</h3>
				<h4>{% if rand_match %}{{rand_match.datetime}}{% else %} Mising data {% endif %}</h4>
                <a href="/match_profile/{{rand_match.id}}" class="btn btn-primary" role="button" id="rand_button">Know more</a>
				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}
