{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock head %}

{% block page_head_content %}
<div class = "container-fluid">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class = "carousel-content">
					<div class="row">
						<h2 id="head" class="text-center">Next match</h2>
						<div class="col-sm-2"></div>
						<div class="col-sm-2"> <img src="https://mcyprian.fedorapeople.org/flags/SVK" class="img-circle center-block"></div>
			            <div class="col-sm-2" ><h3  class="text-center">Slovakia</h3></div>
			            <div class="col-sm-2"><h3  class="text-center">Slovakia</h3></div>
		                <div class="col-sm-2" ><img src="https://mcyprian.fedorapeople.org/flags/SVK" class="img-circle center-block"></div>
		                <div class="col-sm-2"></div>
	       			 </div> 
					</div> 
				<div class="carousel-caption">
					<h3>Day: 1</h3>
					<h3>Date: 20:20:20</h3>
				</div>      
			</div>

			<div class="item">
				<div class = "carousel-content">
					<div class="row">
							<h2 id="head" class="text-center">Next match</h2>
							<div class="col-sm-2"></div>
							<div class="col-sm-2"> <img src="https://mcyprian.fedorapeople.org/flags/SVK" class="img-circle center-block"></div>
				            <div class="col-sm-2" ><h3  class="text-center">Slovakia</h3></div>
				            <div class="col-sm-2"><h3  class="text-center">Slovakia</h3></div>
			                <div class="col-sm-2" ><img src="https://mcyprian.fedorapeople.org/flags/SVK" class="img-circle center-block"></div>
			                <div class="col-sm-2"></div>
		       			 </div> 
						</div> 
				<div class="carousel-caption">
					<h3>Day: 2</h3>
					<h3>Date: 14:20:20</h3>
				</div>      
			</div>
		</div>
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>
</div>
{% endblock page_head_content %}

{% block page_content %}
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="row">
					<div class="col-md-4" id="teams">
						<img id="icon" src="https://mcyprian.fedorapeople.org/flags/SVK" class="img-circle center-block">
					</div>
					<div class="col-md-8" id="teams">
						<h2 id="team_name" class="text-left"><b>Slovakia</b></h2>
					</div>
					
				</div>
				<div class="caption" id="team_caption">
					<a href="#" class="btn btn-primary" role="button">Know more</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
				<div class="thumbnail">
				<img src="https://mcyprian.fedorapeople.org/avatar.png" class="imgBorder" width="200" height="200" >
				<div class="caption">
					<h3>Name Surname</h3>
					<a href="#" class="btn btn-primary" role="button">Know more</a>
				</div>
			</div>
		</div>
	

	<div class="col-md-4">
		<div class="thumbnail">
			<div class="topic"> </div>
			<div class="caption">
				<p>"text of topic"</p>
				<a href="#" class="btn btn-primary" role="button">Know more</a>
				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}
