{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HWCh - Match_profile{% endblock %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='match_profile.css') }}">
{% endblock head %}

{% block page_head_content %}
<div class="container">
	<div class="jumbotron">
		<h1>Match profile</h1>
	</div>
</div>

{% endblock page_head_content %}
{% block page_content %}

<h2 id="date">{{match.datetime}}</h2>

<div class="row" id="primary-info">
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
	<img class="inline" id="icon_left" {% if match.home_team %} src="https://mcyprian.fedorapeople.org/flags/{{match.home_team.code}}" {% else %} src="https://mcyprian.fedorapeople.org/flags/EMP" {% endif %}class="img-circle center-block">
	<h2 class="inline" id="name_left">{{match.home_team.name}}</h2>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
	<img class="inline" id="icon_right" {% if match.away_team %} src="https://mcyprian.fedorapeople.org/flags/{{match.away_team.code}}" {% else %} src="https://mcyprian.fedorapeople.org/flags/EMP" {% endif %} class="img-circle center-block">
	<h2  class="inline" id="name_right">{{match.away_team.name}}</h2>
	</div>
	<div class="col-md-1">
	</div>
</div>


 <div class="row">
    	<div class="col-md-6">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                        	{% set number = 0 %}
            				{% for f in match.formations %}
            				{% if f.team_role == "home" %}
            				{% set number = number + 1 %}
            				{% if number == 1 %}
                            <li class="active"><a href="#tab{{number}}primary" class="formation" data-toggle="tab">Formation {{number}}</a></li>
                            {% else %}
                            <li><a href="#tab{{number}}primary" class="formation" data-toggle="tab">Formation {{number}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                   		{% set number = 0 %}
                    	{% for f in match.formations %}
                    	{% if f.team_role == "home" %}
                    	{% set number = number + 1 %}
                        <div class="tab-pane fade {% if number == 1 %} in active {% endif %}" id="tab{{number}}primary">
                        {% if f.playedins|length > 1 %} 
                        <ul class="nav-list list-inline" id="positions">
                        		<div class="row">
                        		<div class="col-md-1">
								</div>
								{% for p in f.playedins %}
								<div class="col-md-2" {% if loop.index != 1%} id="bord" {% endif %}>
								<li id="center"><p>{{p.role}}</p><a href="/players/{{ p.player.id }}"><span>{{p.player.name}} {{p.player.surname}}</span></a></li>
								</div>
								{% endfor %}
								<div class="col-md-1">
								</div>
								</div>
                            </ul>
                        {% else %}
                        <ul class="nav-list list-inline" id="positions">
                        	<div class="row">
                        		<div class="col-md-1">
								</div>
								{% for p in f.playedins %}
								<div class="col-md-10" >
								<li id="center"><p>goalie</p><a href="/players/{{ p.player.id }}"><span>{{p.player.name}} {{p.player.surname}}</span></a></li>
								</div>
								{% endfor %}
								<div class="col-md-1">
								</div>
								</div>
                            </ul>
                        {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                        	{% set number = 0 %}
            				{% for f in match.formations %}
            				{% if f.team_role == "away" %}
            				{% set number = number + 1 %}
            				{% if number == 1 %}
                            <li class="active"><a href="#tab{{number}}{{number}}primary"
                            class="formation" data-toggle="tab">Formation {{number}}</a></li>
                            {% else %}
                            <li><a href="#tab{{number}}{{number}}primary" class="formation" data-toggle="tab">Formation {{number}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                   		{% set number = 0 %}
                    	{% for f in match.formations %}
                    	{% if f.team_role == "away" %}
                    	{% set number = number + 1 %}
                        <div class="tab-pane fade {% if number == 1 %} in active {% endif %}" id="tab{{number}}{{number}}primary">
                        {% if f.playedins|length > 1 %} 
                        <ul class="nav-list list-inline" id="positions">
                        		<div class="row">
                        		<div class="col-md-1">
								</div>
								{% for p in f.playedins %}
								<div class="col-md-2" {% if loop.index != 1%} id="bord" {% endif %}>
								<li id="center"><p>{{p.role}}</p><a href="/players/{{ p.player.id }}"><span>{{p.player.name}} {{p.player.surname}}</span></a></li>
								</div>
								{% endfor %}
								<div class="col-md-1">
								</div>
								</div>
                            </ul>
                        {% else %}
                        <ul class="nav-list list-inline" id="positions">
                        	<div class="row">
                        		<div class="col-md-1">
								</div>
								{% for p in f.playedins %}
								<div class="col-md-10" >
								<li id="center"><p>goalie</p><a href="/players/{{ p.player.id }}"><span>{{p.player.name}} {{p.player.surname}}</span></a></li>
								</div>
								{% endfor %}
								<div class="col-md-1">
								</div>
								</div>
                            </ul>
                        {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>

        
<div class="row" id="referees">
{% if match.controls %}
	<div class="col-md-4">
	<div class="thumbnail">
	<ul class="list-group">
	  <li class="list-group-item list-group-item-info" >Referees</li>
	  {% for c in match.controls %}
	  <li class="list-group-item">{{c.referee.name}} {{c.referee.surname}} - {{c.role}}</li>
	  {% endfor %}
	</ul>
	</div>
	</div>
	<div class="col-md-8">
	{% else %}
	<div class="col-md-12">
	{% endif %}
	<h1 class="text-center"><b>Result<b></h1>
	<h3 class="text-center">{% if home_score == None %}-- : -- {% else %}{{home_score}} : {{away_score}}{% endif %}{% if match.overtime %}p{% endif %}</h3>
	</div>
</div>

<button id="show" type="button" class="btn btn-info center-block">Show events</button>




<div class="container" id="stats">
    <div class="row">
        <div class="panel panel-default filterable">
            <div class="panel-heading">
                <h3 class="panel-title">{{match.home_team.name}}</h3>
                <h3 class="panel-title" id="title-right">{{match.away_team.name}}</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Player</th>
                        <th>Description</th>
                        <th>Score</th>
                        <th>Decription</th>
                        <th>Player</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                	{% set goal_home = 0 %}
                	{% set goal_away = 0 %}
                	{% for e in events %}
                	{% if e.team.name == match.home_team.name %}
                    <tr>
                        <td>{{e.time}}`</td>
                        <td>{{e.player.name}} {{e.player.surname}}</td>
                        <td>{{e.code}}</td>
                        {% if e.code == "goal" %}
                        {% set goal_home = goal_home + 1 %}
                        <td>{{goal_home}} - {{goal_away}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if e.code == "goal" %}
                        {% set goal_away = goal_away + 1 %}
                        <td>{{goal_home}} - {{goal_away}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                       	<td>{{e.code}}</td>
                        <td>{{e.player.name}} {{e.player.surname}}</td>
                        <td>{{e.time}}`</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock page_content %}
