{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ice Hockey World Championship{% endblock %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='team_profile.css') }}">
{% endblock head %}

{% block page_head_content %}
<div class="container">
	<div class="jumbotron">
		<h1>Team profile</h1>
	</div>
</div>

{% endblock page_head_content %}
{% block page_content %}

<div class="container" id="team">
	<div class="container">
		<div class="row">
			<div class="col-sm-3"><p class="outset ">TEAM ICON</p></div>
			<div class="col-sm-3" class="text-center"><h2>{{team}}</h2></div>
		</div>
	</div>
</div>

<div>
	<div class="row">
		<div class="col-sm-6">
			<div class="container" id="team_info">
				<p>Group: A</p>
				<p>Points: 9</p>
				<p>Position: 1.</p>
				<p>Wins: 3</p>
				<p>Lost: 0</p>
				<p>Draw: 0</p>
				<p>Team members: 34</p>
			</div>
		</div>
		<div class="col-sm-6"> 
			<p>Goals</p>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" style="width: 60%">
			    <span class="sr-only">35% Complete (success)</span>
			  </div>
			  <div class="progress-bar progress-bar-danger" style="width: 40%">
			    <span class="sr-only">10% Complete (danger)</span>
			  </div>
			</div>
				<p>Green Rozdane goly: 6</p>
				<p>Dostane goly: 4</p>
		</div>
	</div>
</div>


<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a data-toggle="tab" href="#Coach">Coach</a></li>
  <li role="presentation"><a data-toggle="tab" href="#Assistents">Assistents</a></li>
  <li role="presentation"><a data-toggle="tab" href="#Players">Players</a></li>
</ul>



<div class="tab-content">
  <div id="Coach" class="tab-pane fade in active">

	<div class="row" id="marg" >
			<div class="thumbnail" id="coach">
				
				<img src="http://vignette2.wikia.nocookie.net/uncyclopedia/images/4/44/White_square.png/revision/latest?cb=20061003200043" class="imgBorder" width="300" height="300" >
				<div class="caption">
					<h3>Name Surname</h3>
					<a href="#" class="btn btn-primary" role="button">Search</a>
				</div>
			</div>
	</div>

  </div>
  <div id="Assistents" class="tab-pane fade">
  		<div class="row" id="marg">
	{% for topic in range(3) %}
		<div class="col-md-4">
				<div class="thumbnail" id="others">
				
				<img src="http://vignette2.wikia.nocookie.net/uncyclopedia/images/4/44/White_square.png/revision/latest?cb=20061003200043" class="imgBorder" width="200" height="200" >
				<div class="caption">
					<h3>Name Surname</h3>
					<a href="#" class="btn btn-primary" role="button">Search</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
  </div>
  <div id="Players" class="tab-pane fade">

  {% for t in range(2) %}
  	<div class="row" id="marg">
	{% for topic in range(3) %}
		<div class="col-md-4">
				<div class="thumbnail" id="others">
				
				<img src="http://vignette2.wikia.nocookie.net/uncyclopedia/images/4/44/White_square.png/revision/latest?cb=20061003200043" class="imgBorder" width="200" height="200" >
				<div class="caption">
					<h3>Name Surname</h3>
					<a href="#" class="btn btn-primary" role="button">Search</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
 {% endfor %}


  </div>
</div>


{% endblock page_content %}